.page-settings {
  background: $color-page;

  .clear-xs {
    @include screen-xs-max {
      clear: both;
    }
  }

  section {
    background: white;
    position: relative;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 1px 5px 10px -7px rgba(0,0,0,0.2);

    .section-label {
      position: absolute;
      bottom: 100%;
      text-transform: uppercase;
      left: 5px;
      font-weight: 300;
      font-size: 16px;

      @include screen-xs-max {
        position: static;
        margin-bottom: 15px;
        text-align: center;
      }
    }
  }
}

.profile-pic-wrapper {
  @include screen-xs-max {
    margin: 0 auto 4rem;
    float: none;
  }
}

.profile-pic {
  position: relative;

  img { max-width: 100%; }

  &:hover .change-photo {
    cursor: pointer;
    color: white;
    opacity: 1;
  }

  .profile-image {
    display: block;
    margin: 0 auto;
  }

  .change-photo {
    transition: opacity 0.4s;
    opacity: 0;
    position: absolute;
    right: 0;  top: 0; left:0; bottom: 0;
    background: rgba(0,0,0,0.65);
    color: #fafafa;
    text-align: center;
    z-index: 1;

    .fa-camera {
      position: absolute;
      font-size: 40px;
      top: 50%;
      margin-top: -20px;
      margin-left: -20px;
    }
  }

  &.uploading {
    .fa-camera {  display: none; }
    .change-photo { opacity: 1;  cursor: wait; }
    .loader { display: block; }
  }

  .loader {
    @include animate-show-hide();
    z-index: 2;
    display: none;
    position: absolute;
    top: 45%;
    margin: 0 auto;
  }



}