<div class="container page-container">
    <div class="row">
        <div class="col-xs-6 col-sm-3 profile-pic-wrapper">
            <div class="profile-pic" ng-class="{ 'uploading': vm.uploading }">
                <img class="loader" src='assets/images/loaders/loader-dots-white.gif' alt="Uploading..."/>
                <div class="change-photo"
                     ng-file-select ng-model="profilePic"
                     ng-file-change="uploadImage($files, $event)"
                     accept="image/jpeg,image/png">
                    <i class="fa fa-camera"></i>
                </div>
                <img class="profile-image" ng-src="{{vm.me.getImageUrl() }}" alt="Profile Picture"/>
            </div>

            <div class="public-profile" ng-if="vm.me._accountType == 'Pro'">
                <button ui-sref="profile({ proId: vm.me._id })" class="btn btn-primary">
                    View Public Profile
                </button>
            </div>
        </div>
        <div class="col-sm-9 clear-xs">
            <section>
                <h3 class="section-label">Account</h3>
                <form class="form row" name="accountForm" ng-submit="vm.updateUser(accountForm)" novalidate>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label>First Name</label>
                        <input ng-model="vm.me.firstName" required standard-form-errors
                               type="text" class="form-control" name="firstName"/>
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label>Last Name</label>
                        <input ng-model="vm.me.lastName" required standard-form-errors
                               name="lastName" type="text" class="form-control"/>
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label>Phone</label>
                        <input ng-required="vm.me._accountType == 'Pro' " pattern-validator="phone"
                               standard-form-errors
                               name="phone" ng-model="vm.me.phone" type="text" class="form-control"/>
                        <div ng-if="accountForm.phone.$dirty && accountForm.phone.$error.pattern"
                             class="form-error" role="alert">Invalid phone number.</div>
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label>Email</label>
                        <input placeholder="Email" type="email" name="email" class="form-control"
                               ng-model="vm.me.email" standard-form-errors mongoose-error required/>
                        <span class="form-error" ng-show="accountForm.email.$error.mongoose">
                            This email seems to be taken.
                        </span>

                    </div>
                    <div class="col-xs-12">
                        <button type="submit" ng-disabled="accountForm.$invalid || accountForm.$pristine"
                                class="pointer-events-on btn btn-success">
                            Update
                        </button>
                    </div>
                </form>
            </section>
            <section ng-if="vm.me._accountType == 'Pro'">
                <label class="section-label">Business</label>

                <form name="businessForm" class="form row" ng-submit="vm.updateUser(businessForm)" novalidate>
                    <div class="form-group col-xs-12">
                        <label>Business Name</label>
                        <input type="text" name="name" class="form-control"
                               ng-model="vm.me.name" required
                               standard-form-errors
                               name="name"
                               placeholder="i.e. City Movers Inc. or Rainbow Tutoring"
                                >
                    </div>
                    <div class="form-group col-xs-12">
                        <label>Website</label>
                        <input type="text" name="website" class="form-control"
                               name="website"
                               pattern-validator="website"
                               ng-model="vm.me.website">
                        <div class="form-error" role="error"
                             ng-if="businessForm.website.$dirty && businessForm.website.$error.pattern">
                            That does not look like a valid url</div>
                    </div>
                    <div class="form-group col-xs-12">
                        <label>About</label>
                        <textarea name="description" class="form-control"
                                  name="description"
                                  rows="8"
                                  placeholder="Let your customers know more about you! Tell them what makes you great. Tell them about your experience.Use this description to make your profile shine!"
                                  ng-model="vm.me.description"></textarea>
                    </div>
                    <div class="col-xs-12">
                        <button type="submit" ng-disabled="businessForm.$invalid || businessForm.$pristine"
                                class="pointer-events-on btn btn-success">Update</button>
                    </div>
                </form>
            </section>
            <section>
                <h3 class="section-label">Password</h3>
                <form class="form row" name="passwordForm" ng-submit="vm.changePassword(passwordForm)" novalidate>
                    <div class="form-group col-sm-12">
                        <label>Current Password</label>
                        <input type="password" name="password" class="form-control" ng-model="vm.password.oldPassword"
                               mongoose-error/>
                        <span class="form-error" ng-show="passwordForm.password.$error.mongoose">
                            The password you entered did not match our records.
                        </span>
                    </div>

                    <div class="form-group col-sm-12">
                        <label>New Password</label>
                        <input type="password" name="newPassword" class="form-control" ng-model="vm.password.newPassword"
                               ng-minlength="4"
                               tooltip="Must be at least 4 characters"
                               required/>
                    </div>
                    <div class="col-xs-12">
                        <button type="submit"
                                ng-disabled="passwordForm.$invalid || passwordForm.$pristine"
                                class="pointer-events-on btn btn-success">Change Password</button>
                    </div>
                </form>
            </section>
            <section>
                <label class="section-label">Notifications</label>

                <form name="notificationForm" class="form clearfix"
                      ng-submit="vm.updateUser(notificationForm)" novalidate>
                    <div ng-if="vm.me._accountType == 'Pro'">
                        <div class="input-group">
                            <label for="leads">
                                <input ng-model="vm.me.preferences.leads" type="checkbox" id="leads"
                                       name="leads"/>
                                Email me when I receive a new customer request.
                            </label>
                        </div>
                        <div class="input-group">
                            <label for="hired">
                                <input ng-model="vm.me.preferences.hired" type="checkbox" id="hired" name="hired"/>
                                Email me when I get hired.
                            </label>
                        </div>
                    </div>
                    <div class="input-group">
                        <label for="quote">
                            <input ng-model="vm.me.preferences.quote" type="checkbox" id="quote" name="quote"/>
                            Email me when a professional sends me a quote.
                        </label>
                    </div>
                    <div class="input-group form-group">
                        <label for="news">
                            <input ng-model="vm.me.preferences.news" type="checkbox" id="news" name="news"/>
                            Keep me up to date with Tasky news and updates.
                        </label>
                    </div>

                    <button type="submit" class="pointer-events-on btn btn-success"
                            ng-disabled="notificationForm.$pristine">Update</button>
                </form>
            </section>
        </div>

    </div>
</div>
