<div class="page-container">
    <div class="panel panel-default col-centered">
        <div class="panel-body">
            <form class="form" name="form" ng-submit="login(form)" novalidate>
                <div class="form-group btn-group">
                    <a class="btn btn-success" ng-click="loginAs('pro',form)">Pro</a>
                    <a class="btn btn-success" ng-click="loginAs('pro2',form)">Pro2</a>
                    <a class="btn btn-warning" ng-click="loginAs('customer',form)">Customer</a>
                    <a class="btn btn-danger" ng-click="loginAs('admin',form)">Admin</a>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <input mongoose-error ng-model="user.email"
                               placeholder="Email"
                               standard-form-errors
                               name="email" type="email" class="form-control" required>
                    </div>
                    <div class="form-group col-sm-12">
                        <unmask standard-form-errors
                                required minlength="5"
                                name="password"
                                placeholder="Password"
                                ng-model="user.password"></unmask>
                    </div>
                </div>
                <div>
                    <button class="btn btn-blue-simple btn-login" ng-disabled="form.$invalid" type="submit">
                        Login
                    </button>
                </div>
                <h4 class="hr-text"><span>OR</span></h4>
                <div>
                    <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                        <i class="fa fa-facebook"></i> Connect with Facebook
                    </a>
                </div>
                <a class="link-register" href="/signup">
                    Dont have an account?
                </a>
            </form>


        </div>
    </div>
</div>
