.customer-signup {
  background: #222 url('#{$img}/backgrounds/bg-shapes.png') center top;
  background-size: cover;
  
  .panel {
    width: 80%;
    max-width: 40rem;
  }

  .btn-signup, .btn-facebook {
    width: 20rem;
    margin: 1rem auto 2rem;
    display:block;
  }

  .heading {
    color: white;
    margin:3rem 0;
  }
}