@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
    opacity:  1;
  }
  &::-moz-placeholder {
    color: $color;
    opacity:  1;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin headings() {
  font-weight: 100;
  margin: 0 0 10px;
  text-align: center;
}

@mixin on-overlay($position: relative) {
  position: $position;
  z-index: 5;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin animate-enter-leave( $duration: 0.8s ) {
  &.ng-enter, .ng-enter {
    animation: fadeIn $duration;
  }

  &.ng-leave, .ng-leave {
    animation: fadeOut $duration;
  }
}

@mixin animate-show-hide( $duration: 0.8s ) {
  &.ng-hide-remove, .ng-hide-remove {
    animation: fadeIn $duration;
  }

  &.ng-hide-add, .ng-hide-add {
    animation: fadeOut $duration;
  }
}