$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import '1-variables.scss';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'animate.min.css';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



.col-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.feature-item {
  min-height: 150px;

  .vam-parent {
    height:100%;
  }
}

.vam-parent {
  display: table;

  .vam-child {
    display: table-cell;
    vertical-align: middle;
  }
}
// Component styles are injected through grunt
// injector
@import '1-variables.scss';
@import '2-mixins.scss';
@import '4-responsive.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'home/home.scss';
@import 'main/main.scss';
// endinjector
