#header {
  background: $brand-primary;
  border: 0;
  color: #fff;
  height: $navbar-height-mobile;
  min-height: 0;
  margin: 0;
  width: 100%;
  z-index: 200;

  transition: background .3s ease;

  .container {
    padding: 0 45px;
  }

  .nav-btn {
    border: solid 2px white;
    border-radius: 5px;
    position: relative;
    top: 0px;
    margin-right: 10px;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }

    @include screen-xs-max {
      border: none;
      margin-right: auto;
    }
  }

  .navbar-brand {
    color: #fff;
    font-family: $font-logo;
    font-size: 30px;
    height: $navbar-height-mobile;
    line-height: $navbar-height-mobile;
    padding: 0;
    opacity: 1;
    transition: opacity .2s ease;
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    & > li {
      & > a {
        border-top: 1px solid lighten($brand-primary, 5%);
        color: #fff;
        font-weight: 500;
        font-size: 13px;
        padding: 15px 0;
        text-transform: uppercase;
      }
      &.active > a {
        background: darken($brand-primary, 3%);
      }
    }
  }
  .navbar-toggle {
    border-color: #fff;
    border-width: 2px;
    font-size: 14px;
    margin: 7px 0 0;
    padding: 4px 13px;

    &:hover, &:focus {
      background: #fff;
      color: $brand-primary;
    }
  }
  .navbar-collapse {
    background: darken($brand-primary, 5%);
    background: $brand-primary;
    border: 0;
    box-shadow: none;
    margin-right: -45px;
    margin-left: -45px;
    text-align: center;
  }


  /* Dropdown menus */

  &.highlight .submenu .dropdown {
    border: none;
    background: lighten($brand-primary, 5);
  }

  .pressed .dropdown {
    height: 8.2rem;
    background: #4298DB;
    border: 2px solid rgba(255,255,255,1);
    opacity: 1;
  }

  .dropdown {
    overflow: hidden;
    list-style: none;
    padding: 0;
    height: 0;
    transition: all 0.4s ease-in;
    border: 2px solid rgba(255,255,255,0);
    opacity: 0;

    > li {
      padding: 1rem 0;
      border-top: $brand-primary;

      > a {
        &, &:hover {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }

  .submenu > a {
    cursor: pointer;
  }


  @include screen-sm-min {
    height: $navbar-height;

    .navbar-brand {
      line-height: $navbar-height;
    }
    .navbar-nav {
      margin-top: 20px;
      margin-right: -25px;

      & > li {
        & > a {
          border: 0;
          margin: 0 15px;
          padding: 10px 0;
        }
        &.active > a {
          background: transparent;
          border-bottom: 2px solid #fff;
        }
      }
    }
    .navbar-collapse {
      background: transparent;
      margin-right: 0;
      margin-left: 0;
    }

    .dropdown {
      margin-top: 1.8rem;
    }

    .pressed .dropdown{
      background: transparent;
    }
  }

  @include screen-md-min {
    .navbar-brand {
      font-size: 35px;
    }
    .navbar-nav > li > a {
      font-size: 14px;
      margin: 0 25px;
    }
  }
}