<!-- NAVBAR -->
<nav id="header"
     ng-hide="nav.isSignUp()"
     class="navbar navbar-inverse navbar-static-top ng-animate-disabled"
     ng-class=" { highlight: !isHome() }" role="navigation"
     ng-controller="NavbarCtrl as nav"
     spark-scroll="{ 200: { 'highlightHomeHeader': true } }">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">tasky</a>
            <button type="button"
                    class="navbar-toggle" ng-click="nav.isCollapsed = !nav.isCollapsed"
                    data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" collapse="nav.isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="nav.nav.isAdmin()" ng-class="{active: nav.isActive('/admin')}"><a href="/admin">Admin</a></li>

                <!-- SECTION Buttons (Projects, Requests) -->
                <li ng-if="!nav.isHome() && nav.isPro()"
                    ui-sref-active="active"
                    class="nav-section first">
                    <a ui-sref="pro">Leads</a>
                </li>
                <li ng-if="nav.isLoggedIn() && !nav.isHome()"
                    ui-sref-active="active"
                    class="nav-section">
                    <a ui-sref="tasks">Projects</a>
                </li>

                <!-- DASHBOARD Button-->
                <li ng-show="nav.isLoggedIn() && nav.isHome()" class="ng-animate-disabled">
                    <a class="dash-btn" ng-href="{{nav.dashboardUrl()}}">Dashboard</a>
                </li>
                <li ng-hide="nav.isLoggedIn()" class="submenu" ng-class="{active: nav.isActive('/signup'), pressed: nav.signupActive }">
                    <a ng-click="nav.signupActive = !nav.signupActive">Sign up
                        <i ng-hide="nav.signupActive" class="fa fa-chevron-down"></i>
                        <i ng-show="nav.signupActive" class="fa fa-chevron-up"></i>
                    </a>
                    <ul class="dropdown">
                        <li><a ui-sref="pro-signup.category">BUSINESS</a></li>
                        <li><a ui-sref="customer-signup">CUSTOMER</a></li>
                    </ul>
                </li>
                <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login">Login</a></li>
                <li ng-show="nav.isLoggedIn() && !nav.isHome()">
                    <a href="#" ng-click="nav.avatarActive = !nav.avatarActive">
                        <span class="user-name">{{nav.getUserName()}}</span>
                        <img class='avatar' ng-src="{{nav.user.image.thumb}}" alt="profile picture"/>
                        <i class="fa fa-chevron-down"></i>
                    </a>
                    <div class="avatar-popover" ng-show="nav.avatarActive">
                        <a class="settings" ui-sref="settings"><i class="fa fa-cog"></i></a>
                        <a href="#" class="logout" ng-click="nav.logout()">LOGOUT</a>
                    </div>
                </li>

                <li ng-show="nav.isLoggedIn() && nav.isHome()"><a href="" ng-click="nav.logout()">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- // NAVBAR -->