<!-- NAVBAR -->
<nav id="header" class="navbar navbar-inverse navbar-static-top" role="navigation" ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">tasky</a>
            <button type="button" ng-click="isCollapsed = !isCollapsed" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
                <li ng-show="isHome()" ng-class="{ active: isHome()}"><a href="#home">Home</a></li>
                <li ng-show="isHome()"><a href="#features">How does it work</a></li>
                <li ng-hide="true"><a href="#contact-form">Contact Us</a></li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="fa fa-cog "></span></a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- // NAVBAR -->