<!-- NAVBAR -->
<nav id="header"
     ng-hide="nav.isSignUp()"
     class="navbar navbar-inverse navbar-static-top ng-animate-disabled"
     ng-class=" { highlight: !nav.isHome() }" role="navigation"
     ng-controller="NavbarCtrl as nav"
     spark-scroll="{ 200: { 'downAddClass,upRemoveClass': 'highlight'} }">

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">tasky</a>
            <button type="button" ng-click="nav.isCollapsed = !isCollapsed" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="nav.nav.isAdmin()" ng-class="{active: nav.isActive('/admin')}"><a href="/admin">Admin</a></li>
                <!-- DASHBOARD Button-->
                <li ng-show="nav.isLoggedIn() && nav.isHome()" class="nav-btn ng-animate-disabled">
                    <a ng-href="{{nav.dashboardUrl()}}">Dashboard</a>
                </li>
                <li ng-hide="nav.isLoggedIn()" class="submenu" ng-class="{active: nav.isActive('/signup'), pressed: nav.signupActive }">
                    <a ng-click="nav.signupActive = !nav.signupActive">Sign up
                        <i ng-hide="nav.signupActive" class="fa fa-chevron-down"></i>
                        <i ng-show="nav.signupActive" class="fa fa-chevron-up"></i>
                    </a>
                    <ul class="dropdown">
                        <li><a ui-sref="pro-signup.category">BUSINESS</a></li>
                        <li><a ui-sref="customer-signup">CUSTOMER</a></li>
                    </ul>
                </li>
                <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login">Login</a></li>
                <li ng-show="nav.isLoggedIn() && !nav.isHome()" ng-class="{active: nav.isActive('/settings')}"><a href="/settings"><span class="fa fa-cog "></span></a></li>
                <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/logout')}"><a href="" ng-click="nav.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- // NAVBAR -->