<div class="page-container">
    <h3 class="page-title">Quotes Received for {{category}}</h3>
    <div class="tab-wrapper">
        <tabset class="quote-selector">
            <tab ng-repeat="q in quotes"
                 select="go(q)"
                 class="clearfix"
                 active="q.tab_active">

                <tab-heading>
                    <div class="pro-image">
                        <img class="img-rounded" ng-src="{{q.from.image.thumb}}"/>
                    </div>
                    <div class="pro-tab-info">
                        <strong class="pro-name">{{q.from.name}}</strong>
                        <div ng-if="q.from.feedback.reviews.length">
                            <rating class="pro-rating" ng-model="q.from.feedback.average_rating" max="5" readonly="true" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></rating>
                            <span class="sub-info">({{ q.from.feedback.reviews.length }} Reviews)</span>
                        </div>
                        <div ng-if="!q.from.feedback.reviews.length">
                            No Reviews
                        </div>
                        <p ng-switch="q.rate.method" >
                                    <span class="rate">{{q.rate.value | currency:'$':0 }}</span>
                                    <span ng-switch-when="hourly">/hr</span>
                                    <span ng-switch-when="fixed">Total</span>
                                    <span class="need-more-info" ng-switch-when="contact">Need more info</span>
                        </p>
                    </div>
                </tab-heading>
            </tab>
        </tabset>

        <div class="quote-content" ui-view></div>
    </div>
</div>