<form class="form" name="form" role="form" novalidate>
    <div class="panel panel-default col-centered">
        <div class="panel-header">
            <h1 class="text-left">Tell us more about your business.</h1>
            <p>Let your customers know why your business is great!</p>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Name of Business</label>
                <input required
                       standard-form-errors
                       placeholder="i.e. City Movers Inc. or Rainbow Tutoring"
                       name="name"
                       ng-model="description.name" type="text" class="form-control" >
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label>Website</label>
                    <input ng-model="description.website"
                           name="website"
                           pattern-validator="website"
                           placeholder="Optional"
                           type="text"
                           class="form-control">
                    <div class="form-error" role="error"
                            ng-if="form.website.$dirty && form.website.$error.pattern">
                        That does not look like a valid url</div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label>Describe Your Business:</label>
                    <textarea required
                              standard-form-errors
                              name="description"
                              rows="8"
                              placeholder="Let your customers know more about you! Tell them what makes you great. Tell them about your experience.Use this description to make your profile shine!"
                              ng-model="description.description"
                              class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <a class="btn pull-left" ng-click="prev()"><i class="fa fa-arrow-left"></i> Back</a>
            <a class="btn btn-blue pull-right" ng-click="next()"
               ng-class="{ disabled: form.$invalid }">Next</a>
        </div>
    </div>
</form>