.request-info {
  .fa {
    width: 15px;
  }
  .fa-check {
    color: $color-lighter-green;
  }
  .fa-times, .fa-map-marker {
    color: $color-lighter-red;
  }
}

.side-info {
  @include make-sm-column(5);
  @include make-xs-column(12);
  height: 100%;
  position: absolute;
  overflow: scroll;
  right: 0;
  top: 0;
  padding: 2rem;
  border-left: 2px solid #ddd;
  background: #fafafd;

  .header-text { font-size: 2rem; margin-bottom: 15px;}

  @include screen-xs-max {
    position: relative;
    background: none;
    border: none;
    padding: auto;
    height: auto;
  }
}
