.signup {
  height: 100%;
  width: 100%;
  overflow-x: hidden;


  .panel {
    max-width: 85rem;
    width: 90%;
    margin: 5rem auto;
    border-radius: 0.5rem;
    border: none;
    overflow: hidden;
    padding: 0;

    .panel-header, .panel-body, .panel-footer {
      padding: 1.5rem 4rem;
    }

    .panel-header {
      padding-top: 2.5rem;
      padding-bottom: 0;

      h1 {
        font-size: 2.5rem;
      }
    }
  }

  .disclaimer {
    @include make-xs-column(10);
    @include make-sm-column(8);
    @extend .col-centered;
    @extend .text-center;
    margin: 0 auto 1.5rem;
  }
}

.page-choose-account {
  padding-top: 45px;

  .or {
    font-size: 24px;
    font-weight: bold;
    color: $text-color;
    padding: 50px 0;

    @include screen-xs-max {
      padding: 20px 0;
    }
  }

  .choices {
    margin-top: 30px;
    padding: 40px 0;
    text-align: center;
    background: $color-page;
    @include clearfix;

    h3 {
      font-size: 24px;

    }
  }

  .panel {
    padding: 20px 10px;
    margin: 0;
  }
}
