.page-profile {
  background: $color-page;

  .rating {
    color: $color-rating-stars;
    font-size: 16px;
  }

  ul { margin: 0 }

  /* PAGE HEADER STUFF */
  #pro-header { position: relative; }

  #cover-photo {
    height: 150px;
    background: fixed #a8aebf url('#{$img}/backgrounds/bg-shapes.png') center top;
    background-size: cover;
    position: relative;
  }

  $push-left: 180px;
  .pro-names {
    @extend .dark;
    position: absolute;
    bottom: 0;
    left: $push-left;
  }

  .biz-name { font-size: $font-size-h3; }


  #profile-pic {
    position: absolute;
    border: solid 5px white;
    border-radius: 50%;
    bottom: 15px; left: 40px;
    width: 100px; height: 100px;
    background: white;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }

  #profile-info {
    padding: 10px 0 10px $push-left;
    background: white;

    .contact-summary {
      @extend .list-simple;

      li {
        display: inline-block;
        margin-right: 20px; }
        font-size: 16px;

      .fa { color: $brand-primary; margin-right: 5px;}

      .rating {
        margin-right: 5px;
        .fa {
          color: #F5771C;
          font-size: 16px;
          margin-right: 1px;
        }
      }

      .sub-info {
        font-size: 14px;
        color: #888;
        padding: 0 5px;
      }

      .no-reviews {
        button { margin-left: 8px; font-size: 14px; }
      }
    }
  }

  #pro-body {
    @include container-fixed();
    @include animate-show-hide(0.3s);

    padding-top: 45px;

    section {
      background: white;
      position: relative;
      padding: 15px 20px;
      border-radius: 5px;
      margin-bottom: 40px;
      box-shadow: 1px 5px 10px -7px rgba(0,0,0,0.2);

      .section-label {
        position: absolute;
        bottom: 100%;
        text-transform: uppercase;
        left: 5px;
        font-weight: 300;
        font-size: 16px;
      }
    }
  }

  #about {
    p {
      white-space: pre-wrap;
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
  }

  #services {
    padding-bottom: 10px;

    .tag {
      padding: 5px 13px;
      background: #70BBE8;
      color: white;
      border-radius: 5px;
      margin: 0 5px 5px;
    }
  }

  #reviews {
    .not-reviewed-yet {
      font-size: 15px;
      margin: 15px 0;
    }

    .reviews-list {
      @extend .list-simple;
      $review-padding-vertical: 10px;
      $review-image-width: 50px;
      margin-bottom: 15px;

      li {
        position: relative;
        padding: $review-padding-vertical 0 $review-padding-vertical $review-image-width + 20;
        border-bottom: 1px solid $gray-lighter;
      }

      .review-rating { float: right;}
      img {
        width: $review-image-width;
        position: absolute;
        left: 0; top: $review-padding-vertical + 5 ;
      }
    }
  }

  section {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }


}