.page-home {

  #search {
    &.bg-toronto {
      @extend .dark;
      background: #141720 url('#{$img}/bg_toronto.jpg');
      background-size: cover;

    }

    // Preloader makes this visible
    .container {
      opacity: 0;
    }

    // Center Vertically
    .home-table {
      display: table;
      width: 100%;
      height: 100%;
    }
    .home-inner {
      display: table-cell;
      vertical-align: middle;
    }

    .input-group {
      width: 100%;
    }

    .banner {
      @include clearfix();
      height: auto;
      padding-top: 10rem;


      @include screen-xs-max {
        padding-top: 0;
        .text-spinner, .text-sub { text-align: center; }
        .search-box-wrapper { padding-top: 5rem; }
        .search-box {
          width: 90%;
          max-width: 40rem;
        }
        .banner-text {
          margin-top: 2rem;
        }

        .text-spinner { font-size: 3rem; }
        .text-sub { font-size: 2rem; }
      }
    }

    .banner-text {
      margin-top: 4rem;
      h1,h2 { text-align: left; }

      @extend .dark;
      @include make-xs-column(12);
      @include make-sm-column-push(6);
      @include make-sm-column(6);

      @include screen-xs-max {
        h1,h2 { text-align: center; }
      }
    }

    .search-box-wrapper {
      @include make-xs-column(12);
      @include make-sm-column-pull(6);
      @include make-sm-column(6);
    }

    .search-box {
      @extend .dark;
      padding: 2rem 0;
      width: 80%; max-width: 26rem;
      margin: 0 auto;
      border-radius: 1rem;

      .form-control {
        &::placeholder {
          color:white;
        }
      }

      .input-group label {
        font-weight: 200;
        font-size: 2rem;
      }

      .btn {
        width: 100%;
        margin-top: 1rem;
        &[disabled] {
          color: white !important;
          border: none;
        }

      }

    }
    .text-spinner {
      font-size: 4rem;

      .spinner-text-item {
        color: $brand-primary;
      }
    }

    .text-sub {
      font-size: $font-size-h3;
      line-height: 1.2;
      font-weight: 100;
      margin-top: 4rem;
    }

    .vam-child {
      float: none;
    }
  }

  .section-header {
    margin: 0 0 50px;
  }
  .section-description {
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
  }


  #header {
    position: fixed;
    left: 0;
    top: 0;

    @include screen-sm-min {
      background: transparent;

      &.highlight {
        background: $brand-primary;
      }
    }
  }
  /*     HOME SECTION     */


  #features {
    padding-bottom: 40px;

    @include screen-sm-min {
      .container {
        width: $screen-xs-max;
      }
    }
  }

  .feature-item {
    opacity: 0;
    position: relative;
    margin-bottom:40px;
    height: 15rem;

    .col-img {
      height: 100%;


      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }

    .content {
      padding: 0 0 0 80px;
    }


    .content {
      padding: 0 0 0 80px;
    }

    .icon-block {
      background: $brand-primary;
      border-radius: 100%;
      color: #fff;
      font-size: 30px;
      line-height: 60px;
      position: absolute;
      left: 15px;
      text-align: center;
      width: 60px;
      height: 60px;
      // Center
      top: 50%;
      margin-top: -30px;
    }

    &.feature-item-right {
      .content {
        padding: 0 80px 0 0;
        text-align: right;
      }

      .icon-block {
        left: auto;
        right: 15px;
      }
    }
  }


  #footer {
    background: #141720;
    color: #555;
    padding: 30px 0;
    text-align: center;
  }

}
