<div class="panel panel-default col-centered">
    <div class="panel-header">
        <h1 class="text-left">Provide Your Account Details.</h1>
        <p>Let us know how we can reach you to notify you of new customers!</p>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-6">
                <label>First Name</label>
                <input ng-model="business.account.first" type="text" class="form-control">
            </div>
            <div class="form-group col-sm-6">
                <div class="input-group">
                    <label>Last Name</label>
                    <input ng-model="business.account.last" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Email</label>
                <input ng-model="business.account.email" type="email" class="form-control">
            </div>
            <div class="form-group col-sm-6">
                <div class="input-group">
                    <label>Phone Number</label>
                    <input ng-model="business.account.phone" class="form-control" type="text" placeholder="--- --- ----">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <div class="input-group">
                    <label>Password</label>
                    <unmask ng-model="business.account.password"></unmask>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <a class="btn pull-left" ng-click="prev()"><i class="fa fa-arrow-left"></i> Back</a>
        <a class="btn btn-blue pull-right" ng-click="register()">Finish!</a>
    </div>
</div>