<div class="panel panel-default col-centered">
    <div class="panel-header">
        <h1 class="text-left">Tell us more about your business.</h1>
        <p>Let your customers know why your business is great!</p>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="" for="exampleInputEmail2">Name of Business</label>
            <input ng-model="" type="text" class="form-control" id="exampleInputEmail2" >
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="" for="exampleInputEmail2">Website</label>
                <input ng-model="" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="" for="exampleInputEmail2">Describe Your Business:</label>
                <textarea ng-model="" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <a class="btn pull-left" ng-click="prev()"><i class="fa fa-arrow-left"></i> Back</a>
        <a class="btn btn-blue pull-right" ng-click="next()">Next</a>
    </div>
</div>