<div class="panel panel-default col-centered wizard-location">
    <div class="panel-header">
        <h1 class="text-left">Where is your business located?</h1>
        <p>Use your home address if you do not have a business address.</p>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-8">
                <label class="" for="exampleInputEmail2">Street</label>
                <input ng-model="business.address.street" type="text" class="form-control" id="exampleInputEmail2" >
            </div>
            <div class="form-group col-sm-4">
                <div class="input-group">
                    <label class="" for="exampleInputEmail2">Apartment/Suite #</label>
                    <input ng-model="business.address.apt" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="exampleInputPassword2">City</label>
                <input ng-model="business.address.city" type="text" class="form-control" id="exampleInputPassword2">
            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputPassword2">Province</label>
                <input ng-model="business.address.province" type="text" class="form-control" id="exampleInputPassword2">
            </div>
            <div class="form-group col-sm-3">
                <label>Postal Code</label>
                <input ng-model="business.address.postal" type="text" class="form-control" id="exampleInputPassword2">
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox"> Share only my city with potential customers.
            </label>
        </div>
        <div ng-show="business.address.isValid()">
            <hr/>
            <strong>Travel Preferences</strong>
            <ul class="list-group">
                <li class="list-group-item checkbox">
                    <label><input ng-model="business.travel.outgoing" ng-click="map.init()"  type="checkbox">I can travel to my customers for up to
                        <select ng-model="business.travel.distance" ng-options="distance + ' km' for distance in travelOptions"></select>
                    </label>
                </li>
                <li class="list-group-item checkbox">
                    <label><input type="checkbox" ng-model="business.travel.incoming">My customers travel to me.</label>
                </li>
                <li class="list-group-item checkbox">
                    <label><input type="checkbox" ng-model="business.travel.online">I work remotely via phone or the internet.</label>
                </li>
            </ul>
            <div id="google-map" ng-show="business.travel.outgoing && business.address.isValid()">
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <a class="btn pull-left" ng-click="prev()"><i class="fa fa-arrow-left"></i> Back</a>
        <a class="btn btn-blue pull-right" ng-click="next()">Next</a>
    </div>
</div>