#status-buttons {
  background: black;
  padding: 2rem;
}

.step {
  display: inline-block;
  margin-right: 1.5rem;

  &.active {
    .step-number {
      background: $brand-primary;
    }
  }
}
.step-number {
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  line-height: 3.7rem;
  font-size: 1.8rem;
  background: #333;
  box-shadow: 0 0 5px inset rgba(0,0,0,0.5);
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  font-weight: 600;
}

.step-label {
  margin-top: 0.5rem;
  font-weight: 400;
}


.business-signup {

  .hook-wrap {
    margin-top: 10rem;

    h2 {
      font-size: 44px;
      margin-bottom: 2rem;
    }

    .subtitle {
      margin-top: 1rem;
    }

    .btn-get-started {

    }
  }




  .list-group {
    .list-group-item {
      background: rgb(247,247,247); /* Old browsers */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* W3C */

      &:hover {
        background: rgb(227,227,227); /* Old browsers */
        background: linear-gradient(to bottom, rgba(245,245,245,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
      }
    }

    label {
      width: 100%;
      font-weight: 300;
    }
  }

  form label{
    font-weight: 400;
  }

  .input-group {
    width: 100%;
  }

  #google-map {
    height: 30rem;
  }


  /* ANIMATION STYLINGS
  ============================================================================= */
  div[ui-view].ng-enter {
    animation: fadeInDown 0.55s;
  }

  .wizard-location{
    .ng-hide-add {
      animation: fadeOutUp 0.25s;
    }
    .ng-hide-remove {
      animation: fadeInDown 0.25s;
    }
  }

}