.business-signup {
  background: #222222 url('#{$img}/bg-shapes.png') center top;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  .hook-wrap {
    margin-top: 10rem;

    h2 {
      font-size: 44px;
      margin-bottom: 2rem;
    }

    .subtitle {
      margin-top: 1rem;
    }

    .btn-get-started {

    }
  }

  .panel {
    max-width: 85rem;
    width: 90%;
    margin-top: 5rem;
    border-radius: 0.5rem;
    padding: 0;

    .panel-header, .panel-body, .panel-footer {
      padding: 1.5rem 4rem;
    }

    .panel-header {
      padding-top: 2.5rem;
      padding-bottom: 0;

      h1 {
        font-size: 2.5rem;
      }
    }
  }


  .list-group {
    .list-group-item {
      background: rgb(247,247,247); /* Old browsers */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%); /* W3C */
    }

    label {
      width: 100%;
      font-weight: 300;
    }
  }

  form label{
    font-weight: 400;
  }

  .input-group {
    width: 100%;
  }

  #google-map {
    height: 30rem;
  }


  /* ANIMATION STYLINGS
  ============================================================================= */
  div[ui-view].ng-enter {
    animation: fadeInDown 0.55s;
  }
}