<div class="container page-container">
    <div class="col-sm-3 filter-container">
        <label class="filter-header">Filter By Status</label>
        <ul class="list-simple filter-list">
            <li><label>
                <input ng-model="filters.noquote" type="checkbox"/>
                <i class="fa fa-square legend-noquote"></i>No Quote Sent</label>
            </li>
            <li><label>
                <input ng-model="filters.pending" type="checkbox"/>
                <i class="fa fa-square legend-pending"></i>Pending Review
            </label></li>
            <li><label>
                <input ng-model="filters.hired" type="checkbox"/>
                <i class="fa fa-square legend-hired"></i>Hired
            </label></li>
            <li><label>
                <input ng-model="filters.rejected" type="checkbox"/>
                <i class="fa fa-square legend-rejected"></i>Declined
            </label></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <accordion close-others="true">
            <accordion-group ng-init="isExpanded = false"
                             ng-repeat="r in filteredRequests = (requests | filter:statusFilter)" class="{{r.quoteStatus}}">
                <accordion-heading>
                    <div class="clearfix" ng-click="isExpanded = !isExpanded">
                        <div class="pull-left">
                            <p class="task-title">{{r.requested_by.firstName}} {{r.requested_by.lastName}} needs {{r.category.name}}</p>
                            <p class="task-info"><i class="fa fa-map-marker"></i> {{r.location.subLocality}}</p>
                        </div>

                        <div class="pull-right">
                            <i class="fa fa-chevron-down" ng-class="{'fa-chevron-down-rotate': isExpanded }"></i>
                            <a ng-if="!haveSentQuote(r)" ng-click="openQuoteModal(r, $event)"
                               class="btn btn-success">Send Proposal</a>
                            <a ng-if="haveSentQuote(r)" ng-click="openQuoteModal(r, $event)"
                               class="btn btn-blue-simple">View Messages</a>
                        </div>
                    </div>
                </accordion-heading>
                <div ng-if="statusFilter(r)">
                    <section class="schedule" ng-switch="r.schedule_type" >
                        <strong>When should the {{r.category.name}} happen?</strong>
                        <p ng-switch-when="flexible" >I'm flexible.</p>
                        <p ng-switch-when="asap" >As soon as possible.</p>
                        <p ng-switch-when="other" >{{r.schedule_details.description}}</p>
                        <p ng-switch-when="date" >On <strong>{{r.schedule_details.date | date}}</strong>
                            <span ng-if="r.schedule_details.time">at <strong>{{r.schedule_details.time}}</strong></span>
                            <span ng-if="r.schedule_details.duration"> for <strong>{{r.schedule_details.duration}}</strong></span>
                        </p>
                    </section>
                    <section class="travel">
                        <strong>How will the meeting happen?</strong>
                        <ul class="list-simple">
                            <li>
                                <i class="fa" ng-class="{ 'fa-check': r.travel.to_pro, 'fa-times': !r.travel.to_pro }"></i>
                                Customer travels to professional
                            </li>
                            <li>
                                <i class="fa" ng-class="{ 'fa-check': r.travel.to_customer, 'fa-times': !r.travel.to_customer }"></i>
                                Professional travels to customer
                            </li>
                            <li>
                                <i class="fa" ng-class="{ 'fa-check': r.travel.remote, 'fa-times': !r.travel.remote }"></i>
                                Work is done remotely
                            </li>
                        </ul>
                    </section>
                    <section class="questions">
                        <div ng-repeat="q in r.questions"
                             ng-switch="multipleChoices(q)">

                            <strong>{{q.question}}</strong>
                            <ul ng-switch-when="true" class="list-simple">
                                <li ng-repeat="a in q.answer"><i class="fa fa-angle-right"></i> {{a}}</li>
                            </ul>
                            <p ng-switch-when="false">{{q.answer}}</p>
                        </div>
                    </section>

                </div>
            </accordion-group>
            <div ng-show="!filteredRequests.length && requests.length" class="empty-instruction">
                <h3>No requests match your filters.</h3>
            </div>
            <div ng-show="!filteredRequests.length && !requests.length" class="empty-instruction">
                <h3>No requests have been sent to you yet.</h3>
                <p class="subtext">Hold on tight and we will notify you as soon as someone is looking for your services.</p>
            </div>
        </accordion>

    </div>
</div>