.page-pro-requests {

  .panel {
    .panel-heading {
      border-left: 1rem solid #444444;
    }

    &.active .panel-heading {
      border-left: 1rem solid #3ab14f;
    }

    &.inactive .panel-heading {
      border-left: 1rem solid #ef5e52;
    }
  }
}

.modal-content {
  max-width: 40rem;
  margin: 0 auto;
}

.quote-modal {
  padding: 2rem 1rem;
  .credit-head {
    margin-bottom: 2rem;
    padding: 0 1.5rem;
  }
  .credit-number {
    font-weight: bold;
  }
  .fa-circle {
    color: $brand-primary;
  }

  .head-stat {
    margin-right: 1rem;
  }
  .foot-stat {
    margin: 2rem 0 0;
  }

  .messages {
    @include make-sm-column(12);
    margin-bottom: 2rem;

    .message {
      @include clearfix();
      padding-bottom: 1rem;
      padding-top: 1rem;
      border-bottom: 1px solid #cccccc;

      .time-stamp {
        float: right;
      }

      &.theirs {
        text-align: right;
        img { @include make-xs-column-push(10);}
        .message-text { @include make-xs-column-pull(2); }
        .time-stamp {
          float: left;
        }
      }

      .message-text p {
        white-space: pre-line;
      }
    }

  }
  .empty-instruction {
    padding: 2.5rem 1.5rem;
    text-align: center;

    h3 {
      font-size: $font-size-h3;

      .subtext {
        color: #7e7e7e;
      }
    }
  }
}