<div class="container page-container">
    <div class="col-sm-3 filter-container">
        <label class="filter-header">Filter By Status</label>
        <ul class="list-simple filter-list">
            <li><label>
                <input ng-model="filters.noquote" type="checkbox"/>
                <i class="fa fa-square legend-noquote"></i>No Quote Sent</label>
            </li>
            <li><label>
                <input ng-model="filters.pending" type="checkbox"/>
                <i class="fa fa-square legend-pending"></i>Pending Review
            </label></li>
            <li><label>
                <input ng-model="filters.hired" type="checkbox"/>
                <i class="fa fa-square legend-hired"></i>Hired
            </label></li>
            <li><label>
                <input ng-model="filters.rejected" type="checkbox"/>
                <i class="fa fa-square legend-rejected"></i>Declined
            </label></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <accordion close-others="true">
            <accordion-group ng-init="isExpanded = false"
                             ng-repeat="r in filteredRequests = (incoming_requests | filter:statusFilter | filter:notDiscardedFilter )" class="{{r.quoteStatus}}">
                <accordion-heading>
                    <div class="clearfix" ng-click="isExpanded = !isExpanded">
                        <div class="pull-left">
                            <p class="task-title">{{r.requested_by.firstName}} {{r.requested_by.lastName}} needs {{r.category.name}}</p>
                            <p class="task-info"><i class="fa fa-map-marker"></i> {{r.location.subLocality}}</p>
                        </div>

                        <div class="pull-right">
                            <i class="fa fa-chevron-down" ng-class="{'fa-chevron-down-rotate': isExpanded }"></i>
                            <a ng-if="!haveSentQuote(r)" ng-click="openQuoteModal(r, $event)"
                               class="btn btn-success">Send Quote</a>
                            <a ng-if="haveSentQuote(r)" ng-click="openQuoteModal(r, $event)"
                               class="btn btn-blue-simple">View Messages</a>
                        </div>
                    </div>
                </accordion-heading>
                <div ng-if="statusFilter(r)">
                    <request-info request="r"></request-info>
                    <p ng-if="!haveSentQuote(r)">Not right for you? <a ng-click="discardRequest(r, $event)"
                                             class="btn-link discard-link"> <i class="fa fa-times"></i>Discard Request</a></p>
                </div>
            </accordion-group>
            <div ng-show="!filteredRequests.length && incoming_requests.length" class="empty-instruction">
                <h3>No requests match your filters.</h3>
            </div>
            <div ng-show="!filteredRequests.length && !incoming_requests.length" class="empty-instruction">
                <h3>No requests have been sent to you yet.</h3>
                <p class="subtext">Hold on tight and we will notify you as soon as someone is looking for your services.</p>
            </div>
        </accordion>
        <section id="discarded" ng-if="anyDiscarded(incoming_requests)">
            <h5>Discarded Requests</h5>
            <div ng-repeat="r in filteredRequests = (incoming_requests | filter:discardedFilter)">
                {{r.requested_by.firstName}} {{r.requested_by.lastName}} needed {{r.category.name}} in {{r.location.subLocality}}
            </div>
        </section>
    </div>
</div>