.page-pro-requests {
  .page-container { padding: 4.5rem 0 0; }

  $filter-border-color: #ddd;
  .filter-container {
    @include screen-xs-max {
      float: none;
      margin: 0 auto 2rem auto;
      width: 40%;
      min-width: 20rem;
    }

    border: 1px solid $filter-border-color;
    padding: 0;
  }

  .filter-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $filter-border-color;
  }

  .filter-list {
    padding-left: 10px;
    li label { font-weight: 100;}
    .fa-square {
      margin: 0 5px;
      &.legend-noquote { color: #444444}
      &.legend-pending  { color: $brand-warning}
      &.legend-hired  { color: #3ab14f}
      &.legend-rejected  { color: #ef5e52;}
    }
  }


  .panel {

    &.hired .panel-heading {
      border-left: 1rem solid #3ab14f;
    }

    &.rejected .panel-heading {
      border-left: 1rem solid #ef5e52;
    }

    &.pending .panel-heading {
      border-left: 1rem solid $brand-warning;
    }

    .panel-heading {
      border-left: 1rem solid #444444;

      .accordion-toggle { text-decoration: none;  }
      .btn {
        &.ng-leave {
          display: none;
        }
        margin-top: 4px;
        width: 12.5rem;
      }
    }

    .panel-body {
      box-shadow: inset 0 0 15px -5px;
    }

    .fa { width: 15px; }
    .fa-chevron-down {
      float: right;
      width: auto;
      color: #666;
      margin-left: 10px;
      line-height: 43px;
    }
  }

  .task-info {
    font-weight: 100;
    font-size: 14px;
    margin: 0
  }

  .task-title { font-weight: 400; }

  .fa-chevron-down {
    transition: transform 0.25s linear;
  }
  .fa-chevron-down-rotate {
    transform: rotate(180deg);
  }

  .fa-map-marker { font-size: 16px; color: $color-lighter-red; }

}

.modal-content {
  max-width: 80rem;
  margin: 0 auto;
}

.quote-modal {
  padding: 2rem 1rem;
  .credit-head {
    margin-bottom: 2rem;
    padding: 0 1.5rem;
  }
  .credit-number {
    font-weight: bold;
  }
  .fa-circle {
    color: $brand-primary;
  }

  .quote-form { @extend .clearfix; }

  .head-stat {
    margin-right: 1rem;
  }
  .foot-stat {
    margin: 2rem 0 0;
  }

  .rate-input {
    max-width: 250px;
  }

  .messages {
    @include make-sm-column(12);
    margin-bottom: 2rem;

    .message {
      @include clearfix();
      padding-bottom: 1rem;
      padding-top: 1rem;
      border-bottom: 1px solid #cccccc;

      .time-stamp {
        float: right;
        font-size: 1.15rem;
        color: #333;
      }

      &.theirs {
        text-align: right;
        img { @include make-xs-column-push(10);}
        .message-text { @include make-xs-column-pull(2); }
        .time-stamp {
          float: left;
        }
      }

      .message-text p {
        white-space: pre-line;
      }
    }

  }
}

.empty-instruction {
  padding: 2.5rem 1.5rem;
  text-align: center;

  &.ng-hide-remove {
    animation: fadeIn 0.5s;
  }

  h3 {
    font-size: $font-size-h3;

    .subtext {
      color: #7e7e7e;
    }
  }
}