<h3 class="heading">Let us help you find the best professional for you</h3>
<div class="panel">
    <form novalidate name="form">
        <div class="panel-body">
            <div ng-repeat="q in questions" ng-switch="q.field_type">

                <div class="form-group" ng-switch-when="text">
                    <label>{{q.question}}</label>
                    <textarea rows="3" ng-required="q.required" class="form-control" name="{{q._id}}" ng-model="q.answer"></textarea>
                </div>


                <div class="form-group" ng-switch-when="select">
                    <label>{{q.question}}</label>
                    <select ng-required="q.required"
                            ng-model="q.answer"
                            name="{{q._id}}"
                            ng-options="choice.label for choice in q.choices"
                            class="form-control">
                        <option value="">Please select an option</option>
                    </select>
                </div>

                <!-- Renders a multi checkbox -->
                <div ng-switch-when="checklist">
                    <multicheck question="q" require-one="q.required"></multicheck>
                </div>


            </div>
            <div class="scheduling">
                <div class="form-group">
                    <label>When?</label>
                    <select name="whenSelect" class="form-control"
                            ng-model="schedule.scheduleType" required
                            ng-options="k as v for (k,v) in scheduleOptions">
                        <option value="">Choose what works best for you</option>
                    </select>
                </div>
                <div ng-if="schedule.scheduleType == 'date'" class="form-group">
                    <div class="form-group input-group col-xs-12">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input ng-required="schedule.scheduleType == 'date'"  ng-model="schedule.scheduleDate" type="date" class="form-control" placeholder="Choose a Date">
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label>At what time?</label>
                            <input type="text" ng-model="schedule.scheduleTime" placeholder="Optional" class="form-control"/>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>For how long?</label>
                            <input type="text"  ng-model="schedule.scheduleDuration" placeholder="Optional" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="schedule.scheduleType == 'other'">
                    <textarea required name="{{q._id}}" ng-model="schedule.scheduleDescription" rows="4" class="form-control"
                              placeholder="Describe how and when you'd like to set up an appointment"></textarea>
                </div>
            </div>

            <!-- Asks who travels to whom? -->
            <travel-checkboxes travel="travel" category="category"></travel-checkboxes>

            <div class="auth-fields row"
                 ng-if="!hasAccount()">
                <h4 class="hr-text"><span>Create your Tasky Account</span></h4>
                <p class="explanation">As soon as you sign up, based on your answer to the above questions, we will deliver quotes from interested professionals in your area directly to your inbox!</p>
                <div class="col-xs-12 col-sm-6">
                    <label>Email Address</label>
                    <input required
                           mongoose-error
                           type="email"
                           name="email"
                           ng-model="user.email"
                           placeholder="you@example.com"
                           class="form-control"/>
                    <div ng-messages="form.email.$error" class="form-error" role="alert"
                         ng-if="form.email.$dirty"
                         ng-messages-include="components/errors/standard-field.html">
                        <div ng-message="mongoose">{{errors.email}}</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label>Password</label>
                    <unmask name="password"
                            mongoose-error
                            minlength="5"
                            required
                            ng-model="user.password"></unmask>
                    <div ng-messages="form.password.$error"
                         ng-if="form.password.$dirty"
                         ng-messages-include="components/errors/standard-field.html">
                        <div ng-message="mongoose">{{errors.password}}</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit"
                   class="btn btn-blue"
                   ng-disabled="form.$invalid"
                   ng-click="sendRequest(form)"></input>
        </div>
    </form>
</div>
