<h3 class="heading">Let us help you find the best professional for you</h3>
<div class="panel">
    <div class="panel-body">
        <div ng-repeat="q in questions" ng-switch="q.field_type">
            <div class="form-group" ng-switch-when="text">
                <label>{{q.question}}</label>
                <input class="form-control" type="text"/>
            </div>


            <div class="form-group" ng-switch-when="select">
                <label>{{q.question}}</label>
                <select ng-model="select" ng-options="choice.label for choice in q.choices"
                        class="form-control">
                </select>
            </div>

            <div ng-switch-when="checklist">
                <label>{{q.question}}</label>
                <ul class="list-group">
                    <li ng-repeat="choice in q.choices"
                        ng-switch="choice.can_describe"
                        class="list-group-item checkbox input-group">
                        <label ng-switch-when="undefined">
                            <input type="checkbox">{{choice.label}}
                        </label>
                        <label ng-switch-when="true">
                            <input type="checkbox">
                            <input class="plain-input" type="text" placeholder="Other">
                        </label>
                    </li>

                </ul>
            </div>

            <div ng-switch-when="date" class="form-group">
                <label>When?</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="date" class="form-control" placeholder="Choose a Date">
                </div>
            </div>

        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-blue" href="#">Send Request</a>
    </div>
</div>
