<h3 class="heading">Let us help you find the best professional for you</h3>
<div class="panel">
    <form novalidate name="form">
        <div class="panel-body">
            <div ng-repeat="q in questions" ng-switch="q.field_type">

                <div class="form-group" ng-switch-when="text">
                    <label>{{q.question}}</label>
                    <textarea rows="3" ng-required="q.required" class="form-control" name="{{q._id}}" ng-model="q.answer"></textarea>
                </div>


                <div class="form-group" ng-switch-when="select">
                    <label>{{q.question}}</label>
                    <select ng-required="q.required"
                            ng-model="q.answer"
                            name="{{q._id}}"
                            ng-options="choice.label for choice in q.choices"
                            class="form-control">
                        <option value="">Please select an option</option>
                    </select>
                </div>

                <!-- Renders a multi checkbox -->
                <div ng-switch-when="checklist">
                    <multicheck question="q" require-one="q.required"></multicheck>
                </div>


            </div>

            <!-- Get Customer Location -->
            <div ng-if="locationNotSet" class="form-group">
                <label>Where do you need the {{category.name | lowercase}}?</label>
                <div class="input-group">
                    <location-search model="location" loading="loading"></location-search>
                    <span class="loader-addon" ng-show="loading">
                            <img src="assets/images/loader-spin-black.GIF" alt=""/>
                        </span>
                </div>
            </div>


            <!-- Asks When? -->
            <appointment-selector schedule="schedule" schedule-type="{{category.scheduling_type}}"></appointment-selector>

            <!-- Asks who travels to whom? -->
            <travel-checkboxes travel="travel" category="category"></travel-checkboxes>
            
            <!-- Catchall details -->
            <div class="form-group">
                <label>Is there anything else you'd like the {{category.actor}} to know?</label>
                <textarea type="text" class="form-control" rows="5"
                          placeholder="Describe any further details that can help the professional understand your project."
                        ng-model="otherDetails.answer"></textarea>
            </div>

            <div class="auth-fields row"
                 ng-if="!hasAccount()">
                <h4 class="hr-text"><span>Create your Tasky Account</span></h4>
                <p class="explanation">As soon as you sign up, based on your answer to the above questions, we will deliver quotes from interested professionals in your area directly to your inbox!</p>
                <div class="col-xs-12 col-sm-6">
                    <label>Email Address</label>
                    <input required
                           mongoose-error
                           type="email"
                           name="email"
                           ng-model="user.email"
                           placeholder="you@example.com"
                           class="form-control"/>
                    <div ng-messages="form.email.$error" class="form-error" role="alert"
                         ng-if="form.email.$dirty"
                         ng-messages-include="components/errors/standard-field.html">
                        <div ng-message="mongoose">{{errors.email}}</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label>Password</label>
                    <unmask name="password"
                            mongoose-error
                            minlength="5"
                            required
                            ng-model="user.password"></unmask>
                    <div ng-messages="form.password.$error"
                         ng-if="form.password.$dirty"
                         ng-messages-include="components/errors/standard-field.html">
                        <div ng-message="mongoose">{{errors.password}}</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit"
                   disable-click="form.$invalid"
                   class="btn btn-blue"
                   ng-class="{ 'disabled' : form.$invalid }"
                   ng-click="sendRequest(form)"
                   tooltip="{{form.$valid? '' : 'Please fill out all fields before submitting the form'}}"/>
        </div>
    </form>
</div>
