<div class="clearfix">
    <div class="col-xs-12">
        <h5>Got a question?</h5>
        <p>Simply fill out the form below and we'll get back to you as soon as possible.</p>
        <hr/>
    </div>
    <form novalidate name="supportForm" role="form" ng-submit="submitForm(supportForm)">
        <input type='hidden' name='xnQsjsdp' value=6BNWGci2Eh9thYo*kRl79w$$/>
        <input type='hidden' name='xmIwtLD' value=KZzYVsXsfadtPjr6Zbi5fNScuT5roLW2/>
        <input type='hidden' name='actionType' value=Q2FzZXM=/>
        <input type='hidden' name='returnURL' value='https://tasky.me' />
        <div class="form-group col-sm-6">
            <label>First Name</label>
            <input ng-model='vm.formData.firstName' class="form-control" type='text' maxlength='120' name='firstName' />
        </div>
        <div class="form-group col-sm-6">
            <label>Last Name</label>
            <input ng-model='vm.formData.lastName' class="form-control" type='text' maxlength='120' name='lastName' />
        </div>
        <div class="form-group col-sm-6">
            <label>Email</label>
            <input ng-model='vm.formData.email' class="form-control" type='text' maxlength='120' name='email' />
        </div>
        <div class="form-group col-sm-6">
            <label>Account Type</label>
            <select ng-model='vm.formData.accountType' class="form-control" name='accountType'>
                <option value='-None-' ng-selected="true">-None-</option>
                <option value='Customer'>Customer</option>
                <option value='Professional'>Professional</option>
            </select>
        </div>
        <div class="form-group col-sm-12">
            <label>What can We help you with?</label>
            <select ng-model='vm.formData.helpType' class="form-control" name='helpType'>
                <option value='-' ng-selected="true">-</option>
                <option value='How Tasky works'>How Tasky works</option>
                <option value='My Account'>My Account</option>
                <option value='Pricing and Payments'>Pricing and Payments</option>
                <option value='Submitting Requests'>Submitting Requests</option>
                <option value='Submitting a Quote'>Submitting a Quote</option>
                <option value='Other'>Other</option>
            </select>
        </div>
        <div class="form-group col-sm-12">
            <label>Subject</label>
            <input ng-model='vm.formData.subject' class="form-control" type='text' maxlength='120' name='subject' />
        </div>
        <div class="form-group col-sm-12">
            <label>Description</label>
            <textarea ng-model='vm.formData.description' class="form-control" name="description" rows="8"></textarea>
        </div>
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-blue">Submit</button>
        </div>
    </form>
</div>